*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: snow;
}


body{
    background-color: darkgreen;
    overflow: hidden;
}

h1 {
    display: block;
    width: 100%;
    text-align: center;

    color: red;
    font-size: 8em;
}

h2 {
    display: block;
    width: 100%;
    text-align: center;

    color: yellow;
    font-size: 4em;
}

p{
    margin: 2em;
    font-size: 3em;
    display: block;
    text-align: center;
}

.santa{
    width: 30%;
    height: 70%;
    position: absolute;
    right: -100px;
}

.ship{
    width: 30%;
    height: 30%;
    position: absolute;
    top: 400px;
    left: 100px;
    transform: scale(-1,1);
    opacity: .7;
}

.gif{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 
}